/* cd animation ********************************************************* */

#cd-body,
#cd-left-leg-1,
#cd-right-leg-1,
#cd-left-leg-2,
#cd-right-leg-2,
#cd-left-arm-1,
#cd-left-arm-2,
#cd-right-arm-1,
#cd-right-arm-2,
#left-arm-wrapper,
#right-arm-wrapper,
#left-leg-wrapper,
#right-leg-wrapper {
  position: absolute;
}

.cd-animation-wrapper {
  --total-animation-duration: 1s;
  --delay: 0.5s;
  width: 500px;
  height: 600px;
  position: fixed;
  top: 25%;
  left: -100%;
  scale: 0.8;
}

.animation-wrapper-animation {
  animation: cd-fly-in var(--total-animation-duration) ease-out forwards;
  animation-delay: var(--delay);
}

@keyframes cd-fly-in {
  0% {
    left: -100%;
  }
  100% {
    left: 50%;
  }
}

@keyframes cd-scroll-wrapper-animation {
  0%,
  50%,
  100% {
    top: 25%;
  }
  25% {
    top: 22%;
  }
  75% {
    top: 20%;
  }
}

.cd-scroll-animation-wrapper-animation {
  animation-delay: 0s;
  animation-name: cd-scroll-wrapper-animation;
  animation-timing-function: ease-out;
  animation-timeline: scroll();
}

#cd-body {
  left: 10%;
  z-index: 1;
}

.cd-body-animation {
  animation: turn-head var(--total-animation-duration) linear forwards;
  animation-delay: var(--delay);
}

@keyframes turn-head {
  0%,
  85% {
    rotate: 20deg;
  }
  100% {
    rotate: 0deg;
  }
}

.cd-scroll-body-animation {
  animation-name: cd-scroll-turn-head;
  animation-timing-function: ease-in-out;
  animation-timeline: scroll();
}

@keyframes cd-scroll-turn-head {
  0%,
  50%,
  100% {
    rotate: 0deg;
  }
  25% {
    rotate: -5deg;
  }

  75% {
    rotate: 10deg;
  }
}

/* ***********************    LEGS    ********************* */
#cd-left-leg-1,
#cd-right-leg-1 {
  z-index: -1;
}
#cd-left-leg-2,
#cd-right-leg-2 {
  z-index: -2;
}

#cd-left-leg-1 {
  left: 31%;
  transform-origin: 0px 30px;
}

#cd-left-leg-2 {
  top: 38%;
  transform-origin: top right;
}

#cd-right-leg-2 {
  top: 38%;
  left: 11%;
  transform-origin: 0px 18px;
}

#left-leg-wrapper {
  transform-origin: top center;
  height: 250px;
  width: 130px;
  z-index: -1;
  top: 60%;
  left: 20%;
}

.left-leg-wrapper-animation {
  animation: left-upper-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

@keyframes left-upper-leg-animation {
  0%,
  25%,
  50%,
  75% {
    rotate: 75deg;
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    rotate: -25deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes cd-scroll-left-upper-leg-animation {
  0%,
  100% {
    rotate: 0deg;
  }
  50% {
    rotate: -10deg;
  }
  25%,
  75% {
    rotate: 25deg;
  }
}

.cd-scroll-left-leg-wrapper-animation {
  animation-name: cd-scroll-left-upper-leg-animation;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

@keyframes left-lower-leg-animation {
  0%,
  25%,
  50%,
  75% {
    rotate: 0deg;
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    rotate: 45deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes cd-scroll-left-lower-leg-animation {
  0%,
  50%,
  100% {
    rotate: 0deg;
    transform: translateX(0px);
  }
  25%,
  75% {
    rotate: -45deg;
    transform: translateX(-10px);
  }
}

.cd-scroll-left-leg-lower-animation {
  animation-name: cd-scroll-left-lower-leg-animation;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

@keyframes right-upper-leg-animation {
  0%,
  25%,
  50%,
  75% {
    rotate: 55deg;
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    rotate: -35deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes cd-scroll-right-upper-leg-animation {
  0%,
  100% {
    rotate: 0deg;
  }
  50% {
    rotate: 10deg;
  }
  25%,
  75% {
    rotate: -35deg;
  }
}

.cd-scroll-right-leg-wrapper-animation {
  animation-name: cd-scroll-right-upper-leg-animation;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

#right-leg-wrapper {
  transform-origin: top left;
  height: 250px;
  width: 130px;
  z-index: -1;
  top: 60%;
  left: 55%;
}

.right-leg-wrapper-animation {
  animation: right-upper-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

.right-leg-lower-animation {
  animation: right-lower-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

@keyframes right-lower-leg-animation {
  0%,
  25%,
  50%,
  75% {
    rotate: 0deg;
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    rotate: 45deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes cd-scroll-right-lower-leg-animation {
  0%,
  50%,
  100% {
    rotate: 0deg;
    transform: translateX(0px);
  }
  25%,
  75% {
    rotate: 45deg;
    transform: translateX(-10px);
  }
}

.cd-scroll-right-leg-lower-animation {
  animation-name: cd-scroll-right-lower-leg-animation;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

.left-leg-lower-animation {
  animation: left-lower-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

/* ***********************    ARMS    ********************* */

#left-arm-wrapper {
  transform-origin: bottom right;
  height: 175px;
  width: 130px;
  z-index: 2;
  top: 15%;
  left: 5%;
}

#cd-left-arm-1 {
  top: 57.5%;
  left: 53%;
  z-index: 3;
}

#cd-left-arm-2 {
  z-index: 2;
  transform-origin: bottom right;
}

.left-arm-wrapper-animation {
  animation: left-upper-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

@keyframes left-upper-arm-animation {
  0%,
  80% {
    rotate: -140deg;
  }
  100% {
    rotate: 0deg;
  }
}

.cd-scroll-left-arm-wrapper-animation {
  animation-name: cd-scroll-left-upper-arm-animation;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

@keyframes cd-scroll-left-upper-arm-animation {
  0%,
  100% {
    rotate: 0deg;
  }
  50% {
    rotate: 0deg;
  }
  25%,
  75% {
    rotate: -140deg;
  }
}

@keyframes left-lower-arm-animation {
  0%,
  85% {
    rotate: -180deg;
  }
  100% {
    rotate: 0deg;
  }
}

.left-arm-lower-animation {
  animation: left-lower-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

@keyframes cd-scroll-left-lower-arm-animation {
  0%,
  100% {
    rotate: 0deg;
  }
  50% {
    rotate: 0deg;
  }
  25%,
  75% {
    rotate: -140deg;
  }
}

.cd-scroll-left-arm-lower-animation {
  animation-name: cd-scroll-left-lower-arm-animation;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

#right-arm-wrapper {
  transform-origin: top left;
  height: 175px;
  width: 130px;
  z-index: 2;
  top: 45%;
  left: 59%;
}

#cd-right-arm-1 {
  z-index: 3;
}

#cd-right-arm-2 {
  top: 36%;
  left: 44%;
  z-index: 2;
  transform-origin: top left;
}

.right-arm-wrapper-animation {
  animation: right-upper-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

@keyframes right-upper-arm-animation {
  0%,
  80% {
    rotate: 45deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes cd-scroll-right-upper-arm-animation {
  0%,
  100% {
    rotate: 0deg;
  }
  50% {
    rotate: 0deg;
  }
  25%,
  75% {
    rotate: 45deg;
  }
}

@keyframes right-lower-arm-animation {
  0%,
  85% {
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes cd-scroll-right-lower-arm-animation {
  0%,
  100% {
    rotate: 0deg;
  }
  50% {
    rotate: 0deg;
  }
  25%,
  75% {
    rotate: 140deg;
  }
}

.cd-scroll-right-arm-wrapper-animation {
  animation-name: cd-scroll-right-upper-arm-animation;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

.right-arm-lower-animation {
  animation: left-lower-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

.cd-scroll-right-arm-lower-animation {
  animation-name: cd-scroll-right-lower-arm-animation;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

/* end cd animation************************************** */
