/* the record animation********************************************** */
.record-animation-wrapper {
  position: fixed;
  width: 650px;
  height: 650px;
  /* outline: 2px solid lime; */
  top: -5.75rem;
  right: -5rem;
  scale: 0.7;
}

.record-wrapper {
  width: 80%;
  aspect-ratio: 1;
  /* outline: 2px solid red; */
  position: absolute;
  bottom: -2rem;
  right: 10rem;
  border-radius: 50%;
  /* opacity: 0.35; */
  display: grid;
  place-content: center;
  font-size: 3rem;
  /* tried to get close to 33 1/3 rpm, seemed too fast */
  /* animation: spin-record 1.8s linear infinite; */

  animation: spin-record 4s linear infinite;

  /* tried to link record to scroll too...didn't look right */
  /* animation-name: spin-record;
  animation-timing-function: linear;
  animation-timeline: scroll(); */
}

.bg-tonearm {
  --start-angle: 22deg;
  --end-angle: 50deg;

  position: absolute;
  right: -2.5rem;
  top: 2rem;
  transform-origin: 75px 200px;
  animation-name: move-tonearm;
  animation-timing-function: linear;
  animation-timeline: scroll();
  scale: 0.6;
  rotate: var(--start-angle);
  filter: drop-shadow(0px 3px 2px white);
}

@keyframes move-tonearm {
  0% {
    rotate: var(--start-angle);
  }

  100% {
    rotate: var(--end-angle);
  }
}

@keyframes spin-record {
  to {
    rotate: 360deg;
  }
}
