*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

button {
  font: inherit;
}

body {
  background-color: rgb(236, 236, 236);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* padding: 1rem 0 0 1rem; */
  min-height: 100vh;
}
header {
  display: flex;
}
h1 {
  margin-inline: 1.25rem 5.5rem;
  margin-block: 1.5rem;
}

.field-radio-btns-wrapper {
  min-width: 627px;
  align-items: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.format-select-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  width: 627px;
  margin-bottom: 1rem;
}

/* .format-select-wrapper label {
  width: 100%;
} */

.search-wrapper {
  padding: 1rem 1rem 1.75rem;
  width: fit-content;
  margin-block-end: 1rem;
}

.search-outer-wrapper {
  position: relative;
}

.search-outer-wrapper::before {
  content: "Search Field";
  position: absolute;
  top: -1rem;
  left: 1.5rem;
  font-size: 1.25rem;
}

.search-field-select-wrapper {
  display: flex;
}

input[type="radio"] {
  display: none;
}

label {
  border-radius: 5px;
  background: rgb(113, 0, 179);
  padding: 1.25rem 2rem;
  cursor: pointer;
  color: whitesmoke;
  user-select: none;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  font-weight: 600;
  letter-spacing: 1px;
  width: 95%;
  margin-inline: auto;
  text-align: center;
  position: relative;
  box-shadow: 0px 2px 0px black;
}

.search-wrapper label::before,
.search-wrapper button::before {
  content: "";
  position: absolute;
  bottom: -14px;
  height: 10px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  filter: blur(9px);
}
.search-wrapper .text-input-wrapper::before {
  content: "";
  position: absolute;
  bottom: -12px;
  height: 10px;
  width: 97%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  filter: blur(9px);
  margin-left: 0.5rem;
}

label:hover,
label:focus-visible,
.search-wrapper button:hover,
.search-wrapper button:focus-visible {
  background: rgb(84, 44, 102);
}

input[type="radio"]:checked + label {
  background: rgb(158, 0, 250);
  filter: blur(0.5px);
  height: 50px;
  width: 190px;
  font-size: 0.9rem;
  font-weight: 600;
}

.format-select-wrapper [type="radio"]:checked + label {
  width: 175px;
  height: 47px;
}

.search-wrapper input[type="radio"]:checked + label::before {
  width: 95%;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: -12px;
}

.search-wrapper .text-input-wrapper input[type="text"] {
  padding: 0rem 0.75rem;
  font: inherit;
  width: 500px;
  margin-left: 1rem;
  font-size: 1.5rem;
  outline: 1px solid rgb(113, 0, 179);
  border-radius: 5px;
  height: 100%;
}

.text-input-wrapper {
  position: relative;
}

.search-wrapper button {
  margin-left: 1rem;
  border-radius: 5px;
  background: rgb(113, 0, 179);
  padding: 1rem 2rem;
  color: whitesmoke;
  cursor: pointer;
  user-select: none;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  /* display: inline-block; */
  font-weight: 600;
  letter-spacing: 1px;
  outline: 2px solid black;
  height: 53px;
  text-align: center;
  position: relative;
}

.qty {
  font-size: 1.25rem;
  padding-top: 0.25rem;
}

.pagination-text {
  font-size: 1.25rem;
  min-height: 28px;
}

#page-input {
  display: none;
  font: inherit;
  width: 3.5rem;
  padding-inline: 0.25rem;
  margin-inline-start: 1rem;
}

.results {
  margin-top: 1rem;
  max-width: 65%;
  font-size: 1.25rem;
}

th {
  text-align: left;
}

.td-artist {
  max-width: 350px;
}
.td-title {
  max-width: 450px;
}
.td-location {
  max-width: 25%;
}

td {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  padding-right: 1rem;
}
