*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

button {
  font: inherit;
}

body {
  background-color: rgb(236, 236, 236);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1rem 0 0 1rem;
  min-height: 100vh;
}

h1 {
  display: inline;
  margin-right: 1rem;
  vertical-align: text-bottom;
}

fieldset {
  width: fit-content;
  /* min-height: 60px; */
  font-size: 1.25rem;
}

fieldset input[type="radio"]:not(:last-child) {
  margin-right: 1rem;
}

fieldset label,
fieldset input[type="radio"] {
  cursor: pointer;
}

.format-select-wrapper {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.search-wrapper {
  padding: 0rem 1rem 0.75rem;
  width: fit-content;
}
.search-wrapper input[type="text"] {
  padding: 0.25rem;
  font: inherit;
  width: 300px;
}
.search-wrapper button {
  padding: 0.25rem 0.5rem;
  margin-left: 0.25rem;
}

.search-outer-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.qty {
  font-size: 1.25rem;
  padding-top: 0.25rem;
}

/* the record animation********************************************** */
.record-animation-wrapper {
  position: fixed;
  width: 650px;
  height: 650px;
  /* outline: 2px solid lime; */
  top: -5.75rem;
  right: -5rem;
  scale: 0.7;
}

.record-wrapper {
  width: 80%;
  aspect-ratio: 1;
  /* outline: 2px solid red; */
  position: absolute;
  bottom: -2rem;
  right: 10rem;
  border-radius: 50%;
  /* opacity: 0.35; */
  display: grid;
  place-content: center;
  font-size: 3rem;
  /* tried to get close to 33 1/3 rpm, seemed too fast */
  /* animation: spin-record 1.8s linear infinite; */

  animation: spin-record 4s linear infinite;

  /* tried to link record to scroll too...didn't look right */
  /* animation-name: spin-record;
  animation-timing-function: linear;
  animation-timeline: scroll(); */
}

.bg-tonearm {
  --start-angle: 22deg;
  --end-angle: 50deg;

  position: absolute;
  right: -2.5rem;
  top: 2rem;
  transform-origin: 75px 200px;
  animation-name: move-tonearm;
  animation-timing-function: linear;
  animation-timeline: scroll();
  scale: 0.6;
  rotate: var(--start-angle);
  filter: drop-shadow(0px 3px 2px white);
}

@keyframes move-tonearm {
  0% {
    rotate: var(--start-angle);
  }

  100% {
    rotate: var(--end-angle);
  }
}

@keyframes spin-record {
  to {
    rotate: 360deg;
  }
}

/* tape animation*************************************************************** */
.tape-player-animation-wrapper {
  position: fixed;
  width: 500px;
  height: 500px;
  /* outline: 2px solid lime; */
  bottom: -3rem;
  right: 6.5rem;
  scale: 0.7;
}

.reel-one,
.reel-two {
  position: absolute;
  top: -3.75rem;
  left: -0.4rem;
  animation: spin-reel 5s linear infinite;
  z-index: 999;
}

.reel-two {
  left: 20.75rem;
}

@keyframes spin-reel {
  to {
    rotate: -360deg;
  }
}

.tape-one-outer-wrapper,
.tape-two-outer-wrapper {
  position: absolute;
  top: -3.75rem;
  left: -0.4rem;
  animation: spin-tape 5s linear infinite;
}

.tape-two-outer-wrapper {
  left: 20.75rem;
}

.tape-one {
  animation-name: tape-one-mask;
  animation-timing-function: linear;
  animation-timeline: scroll();
  mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.1) 65%);
}
.tape-two {
  animation-name: tape-two-mask;
  animation-timing-function: linear;
  animation-timeline: scroll();
  mask-image: radial-gradient(circle, black 25%, rgba(0, 0, 0, 0.1) 25%);
}

@keyframes tape-one-mask {
  0% {
    mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.1) 65%);
  }
  2.5% {
    mask-image: radial-gradient(circle, black 64%, rgba(0, 0, 0, 0.1) 64%);
  }

  5% {
    mask-image: radial-gradient(circle, black 63%, rgba(0, 0, 0, 0.1) 63%);
  }

  7.5% {
    mask-image: radial-gradient(circle, black 62%, rgba(0, 0, 0, 0.1) 62%);
  }

  10% {
    mask-image: radial-gradient(circle, black 61%, rgba(0, 0, 0, 0.1) 61%);
  }

  12.5% {
    mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%);
  }

  15% {
    mask-image: radial-gradient(circle, black 59%, rgba(0, 0, 0, 0.1) 59%);
  }

  17.5% {
    mask-image: radial-gradient(circle, black 58%, rgba(0, 0, 0, 0.1) 58%);
  }

  20% {
    mask-image: radial-gradient(circle, black 57%, rgba(0, 0, 0, 0.1) 57%);
  }

  22.5% {
    mask-image: radial-gradient(circle, black 56%, rgba(0, 0, 0, 0.1) 56%);
  }

  25% {
    mask-image: radial-gradient(circle, black 55%, rgba(0, 0, 0, 0.1) 55%);
  }

  27.5% {
    mask-image: radial-gradient(circle, black 54%, rgba(0, 0, 0, 0.1) 54%);
  }

  30% {
    mask-image: radial-gradient(circle, black 53%, rgba(0, 0, 0, 0.1) 53%);
  }

  32.5% {
    mask-image: radial-gradient(circle, black 52%, rgba(0, 0, 0, 0.1) 52%);
  }

  35% {
    mask-image: radial-gradient(circle, black 51%, rgba(0, 0, 0, 0.1) 51%);
  }

  37.5% {
    mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.1) 50%);
  }

  40% {
    mask-image: radial-gradient(circle, black 49%, rgba(0, 0, 0, 0.1) 49%);
  }

  42.5% {
    mask-image: radial-gradient(circle, black 48%, rgba(0, 0, 0, 0.1) 48%);
  }

  45% {
    mask-image: radial-gradient(circle, black 47%, rgba(0, 0, 0, 0.1) 47%);
  }

  50% {
    mask-image: radial-gradient(circle, black 45%, rgba(0, 0, 0, 0.1) 45%);
  }

  52.5% {
    mask-image: radial-gradient(circle, black 44%, rgba(0, 0, 0, 0.1) 44%);
  }

  55% {
    mask-image: radial-gradient(circle, black 43%, rgba(0, 0, 0, 0.1) 43%);
  }

  57.5% {
    mask-image: radial-gradient(circle, black 42%, rgba(0, 0, 0, 0.1) 42%);
  }

  60% {
    mask-image: radial-gradient(circle, black 41%, rgba(0, 0, 0, 0.1) 41%);
  }

  62.5% {
    mask-image: radial-gradient(circle, black 40%, rgba(0, 0, 0, 0.1) 40%);
  }

  65% {
    mask-image: radial-gradient(circle, black 39%, rgba(0, 0, 0, 0.1) 39%);
  }

  67.5% {
    mask-image: radial-gradient(circle, black 38%, rgba(0, 0, 0, 0.1) 38%);
  }

  70% {
    mask-image: radial-gradient(circle, black 37%, rgba(0, 0, 0, 0.1) 37%);
  }

  72.5% {
    mask-image: radial-gradient(circle, black 36%, rgba(0, 0, 0, 0.1) 36%);
  }

  75% {
    mask-image: radial-gradient(circle, black 35%, rgba(0, 0, 0, 0.1) 35%);
  }

  77.5% {
    mask-image: radial-gradient(circle, black 34%, rgba(0, 0, 0, 0.1) 34%);
  }

  80% {
    mask-image: radial-gradient(circle, black 33%, rgba(0, 0, 0, 0.1) 33%);
  }

  82.5% {
    mask-image: radial-gradient(circle, black 32%, rgba(0, 0, 0, 0.1) 32%);
  }

  85% {
    mask-image: radial-gradient(circle, black 31%, rgba(0, 0, 0, 0.1) 31%);
  }

  87.5% {
    mask-image: radial-gradient(circle, black 30%, rgba(0, 0, 0, 0.1) 30%);
  }

  90% {
    mask-image: radial-gradient(circle, black 29%, rgba(0, 0, 0, 0.1) 29%);
  }

  92.5% {
    mask-image: radial-gradient(circle, black 28%, rgba(0, 0, 0, 0.1) 28%);
  }

  95% {
    mask-image: radial-gradient(circle, black 27%, rgba(0, 0, 0, 0.1) 27%);
  }

  97.5% {
    mask-image: radial-gradient(circle, black 26%, rgba(0, 0, 0, 0.1) 26%);
  }

  100% {
    mask-image: radial-gradient(circle, black 25%, rgba(0, 0, 0, 0.1) 25%);
  }
}

@keyframes tape-two-mask {
  0% {
    mask-image: radial-gradient(circle, black 25%, rgba(0, 0, 0, 0.1) 25%);
  }
  2.5% {
    mask-image: radial-gradient(circle, black 26%, rgba(0, 0, 0, 0.1) 26%);
  }
  5% {
    mask-image: radial-gradient(circle, black 27%, rgba(0, 0, 0, 0.1) 27%);
  }
  7.5% {
    mask-image: radial-gradient(circle, black 28%, rgba(0, 0, 0, 0.1) 28%);
  }

  10% {
    mask-image: radial-gradient(circle, black 29%, rgba(0, 0, 0, 0.1) 29%);
  }
  12.5% {
    mask-image: radial-gradient(circle, black 30%, rgba(0, 0, 0, 0.1) 30%);
  }
  15% {
    mask-image: radial-gradient(circle, black 31%, rgba(0, 0, 0, 0.1) 31%);
  }
  17.5% {
    mask-image: radial-gradient(circle, black 32%, rgba(0, 0, 0, 0.1) 32%);
  }

  20% {
    mask-image: radial-gradient(circle, black 33%, rgba(0, 0, 0, 0.1) 33%);
  }
  22.5% {
    mask-image: radial-gradient(circle, black 34%, rgba(0, 0, 0, 0.1) 34%);
  }
  25% {
    mask-image: radial-gradient(circle, black 35%, rgba(0, 0, 0, 0.1) 35%);
  }
  27.5% {
    mask-image: radial-gradient(circle, black 36%, rgba(0, 0, 0, 0.1) 36%);
  }

  30% {
    mask-image: radial-gradient(circle, black 37%, rgba(0, 0, 0, 0.1) 37%);
  }
  32.5% {
    mask-image: radial-gradient(circle, black 38%, rgba(0, 0, 0, 0.1) 38%);
  }
  35% {
    mask-image: radial-gradient(circle, black 39%, rgba(0, 0, 0, 0.1) 39%);
  }
  37.5% {
    mask-image: radial-gradient(circle, black 40%, rgba(0, 0, 0, 0.1) 40%);
  }

  40% {
    mask-image: radial-gradient(circle, black 41%, rgba(0, 0, 0, 0.1) 41%);
  }
  42.5% {
    mask-image: radial-gradient(circle, black 42%, rgba(0, 0, 0, 0.1) 42%);
  }
  45% {
    mask-image: radial-gradient(circle, black 43%, rgba(0, 0, 0, 0.1) 43%);
  }
  47.5% {
    mask-image: radial-gradient(circle, black 44%, rgba(0, 0, 0, 0.1) 44%);
  }

  50% {
    mask-image: radial-gradient(circle, black 45%, rgba(0, 0, 0, 0.1) 45%);
  }
  52.5% {
    mask-image: radial-gradient(circle, black 46%, rgba(0, 0, 0, 0.1) 46%);
  }
  55% {
    mask-image: radial-gradient(circle, black 47%, rgba(0, 0, 0, 0.1) 47%);
  }
  57.5% {
    mask-image: radial-gradient(circle, black 48%, rgba(0, 0, 0, 0.1) 48%);
  }

  60% {
    mask-image: radial-gradient(circle, black 49%, rgba(0, 0, 0, 0.1) 49%);
  }
  62.5% {
    mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.1) 50%);
  }
  65% {
    mask-image: radial-gradient(circle, black 51%, rgba(0, 0, 0, 0.1) 51%);
  }
  67.5% {
    mask-image: radial-gradient(circle, black 52%, rgba(0, 0, 0, 0.1) 52%);
  }

  70% {
    mask-image: radial-gradient(circle, black 53%, rgba(0, 0, 0, 0.1) 53%);
  }
  72.5% {
    mask-image: radial-gradient(circle, black 54%, rgba(0, 0, 0, 0.1) 54%);
  }
  75% {
    mask-image: radial-gradient(circle, black 55%, rgba(0, 0, 0, 0.1) 55%);
  }
  77.5% {
    mask-image: radial-gradient(circle, black 56%, rgba(0, 0, 0, 0.1) 56%);
  }

  80% {
    mask-image: radial-gradient(circle, black 57%, rgba(0, 0, 0, 0.1) 57%);
  }
  82.5% {
    mask-image: radial-gradient(circle, black 58%, rgba(0, 0, 0, 0.1) 58%);
  }
  85% {
    mask-image: radial-gradient(circle, black 59%, rgba(0, 0, 0, 0.1) 59%);
  }
  87.5% {
    mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%);
  }

  90% {
    mask-image: radial-gradient(circle, black 61%, rgba(0, 0, 0, 0.1) 61%);
  }
  92.5% {
    mask-image: radial-gradient(circle, black 62%, rgba(0, 0, 0, 0.1) 62%);
  }
  95% {
    mask-image: radial-gradient(circle, black 63%, rgba(0, 0, 0, 0.1) 63%);
  }
  97.5% {
    mask-image: radial-gradient(circle, black 64%, rgba(0, 0, 0, 0.1) 64%);
  }

  100% {
    mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.1) 65%);
  }
}

@keyframes spin-tape {
  from {
    rotate: -40deg;
  }

  to {
    rotate: -400deg;
  }
}

/* cd animation ********************************************************* */
.cd-animation-wrapper {
  --total-animation-duration: 1s;
  --delay: 0s;
  width: 500px;
  height: 600px;
  position: fixed;
  /* outline: 2px solid lime; */
  top: 12%;
  left: -100%;
  scale: 0.8;
  /* animation: cd-fly-in var(--total-animation-duration) ease-out forwards;
  animation-delay: var(--delay); */
}

.animation-wrapper-animation {
  animation: cd-fly-in var(--total-animation-duration) ease-out forwards;
  animation-delay: var(--delay);
}

@keyframes cd-fly-in {
  0% {
    left: -100%;
  }
  85% {
  }
  100% {
    left: 50%;
  }
}

/* @keyframes leg-animation {
  0% {
  }
  50% {
  }
  100% {
  }
} */

#cd-body,
#cd-left-leg-1,
#cd-right-leg-1,
#cd-left-leg-2,
#cd-right-leg-2,
#cd-left-arm-1,
#cd-left-arm-2,
#cd-right-arm-1,
#cd-right-arm-2,
#left-arm-wrapper,
#right-arm-wrapper,
#left-leg-wrapper,
#right-leg-wrapper {
  position: absolute;
  /* outline: 2px solid red; */
}

#cd-body {
  left: 10%;
  z-index: 1;
  /* animation: turn-head var(--total-animation-duration) linear forwards;
  animation-delay: var(--delay); */
}

.cd-body-animation {
  animation: turn-head var(--total-animation-duration) linear forwards;
  animation-delay: var(--delay);
}

@keyframes turn-head {
  0%,
  85% {
    rotate: 20deg;
  }
  100% {
    rotate: 0deg;
  }
}

#cd-left-leg-1,
#cd-right-leg-1 {
  z-index: -1;
}
#cd-left-leg-2,
#cd-right-leg-2 {
  z-index: -2;
}

@keyframes left-upper-leg-animation {
  0%,
  25%,
  50%,
  75% {
    rotate: 75deg;
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    rotate: -25deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes left-lower-leg-animation {
  0%,
  25%,
  50%,
  75% {
    rotate: 0deg;
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    rotate: 45deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes right-upper-leg-animation {
  0%,
  25%,
  50%,
  75% {
    rotate: 55deg;
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    rotate: -35deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes right-lower-leg-animation {
  0%,
  25%,
  50%,
  75% {
    rotate: 0deg;
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    rotate: 45deg;
  }

  100% {
    rotate: 0deg;
  }
}

#left-leg-wrapper {
  /* rotate: 25deg; */
  transform-origin: top center;
  height: 250px;
  width: 130px;
  z-index: -1;
  top: 60%;
  left: 20%;
  /* animation: left-upper-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay); */
}

.left-leg-wrapper-animation {
  animation: left-upper-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

#cd-left-leg-1 {
  left: 31%;
}

#cd-left-leg-2 {
  /* rotate: 25deg; */
  top: 38%;
  transform-origin: top right;
  /* animation: left-lower-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay); */
}

.left-leg-lower-animation {
  animation: left-lower-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

#right-leg-wrapper {
  /* rotate: 25deg; */
  transform-origin: top left;
  height: 250px;
  width: 130px;
  z-index: -1;
  top: 60%;
  left: 55%;
  /* animation: right-upper-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay); */
}

.right-leg-wrapper-animation {
  animation: right-upper-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

/* #cd-right-leg-1 {
  left: 56%;
} */

#cd-right-leg-2 {
  /* rotate: 25deg; */
  top: 38%;
  left: 11%;
  transform-origin: 0px 18px;
  /* animation: right-lower-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay); */
}

.right-leg-lower-animation {
  animation: right-lower-leg-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

#left-arm-wrapper {
  /* rotate: 25deg; */
  transform-origin: bottom right;
  height: 175px;
  width: 130px;
  z-index: 2;
  top: 15%;
  left: 5%;
  /* animation: left-upper-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay); */
}

.left-arm-wrapper-animation {
  animation: left-upper-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

@keyframes left-upper-arm-animation {
  0%,
  80% {
    rotate: -140deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes left-lower-arm-animation {
  0%,
  85% {
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes right-upper-arm-animation {
  0%,
  80% {
    rotate: 45deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes right-lower-arm-animation {
  0%,
  85% {
    rotate: 180deg;
  }
  100% {
    rotate: 0deg;
  }
}

#cd-left-arm-1 {
  top: 57.5%;
  left: 53%;
  z-index: 3;
}

#cd-left-arm-2 {
  z-index: 2;
  transform-origin: bottom right;
  /* animation: left-lower-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay); */
}

.left-arm-lower-animation {
  animation: left-lower-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

#right-arm-wrapper {
  transform-origin: top left;
  height: 175px;
  width: 130px;
  z-index: 2;
  top: 45%;
  left: 59%;
  /* animation: right-upper-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay); */
}

.right-arm-wrapper-animation {
  animation: right-upper-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

#cd-right-arm-1 {
  z-index: 3;
}

#cd-right-arm-2 {
  top: 36%;
  left: 44%;
  z-index: 2;
  transform-origin: top left;
  /* animation: left-lower-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay); */
}

.right-arm-lower-animation {
  animation: left-lower-arm-animation var(--total-animation-duration) linear
    forwards;
  animation-delay: var(--delay);
}

/* end cd animation************************************** */
.results {
  margin-top: 1rem;
  max-width: 65%;
  font-size: 1.25rem;
}

th {
  text-align: left;
}

.td-artist {
  max-width: 350px;
}
.td-title {
  max-width: 450px;
}
.td-location {
  max-width: 25%;
}

td {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  padding-right: 1rem;
}
