/* tape animation*************************************************************** */
.tape-player-animation-wrapper {
  position: fixed;
  width: 500px;
  height: 500px;
  /* outline: 2px solid lime; */
  bottom: -3rem;
  right: 6.5rem;
  scale: 0.7;
}

.reel-one,
.reel-two {
  position: absolute;
  top: -3.75rem;
  left: -0.4rem;
  animation: spin-reel 5s linear infinite;
  z-index: 999;
}

.reel-two {
  left: 20.75rem;
}

@keyframes spin-reel {
  to {
    rotate: -360deg;
  }
}

.tape-one-outer-wrapper,
.tape-two-outer-wrapper {
  position: absolute;
  top: -3.75rem;
  left: -0.4rem;
  animation: spin-tape 5s linear infinite;
}

.tape-two-outer-wrapper {
  left: 20.75rem;
}

.tape-one {
  animation-name: tape-one-mask;
  animation-timing-function: linear;
  animation-timeline: scroll();
  mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.1) 65%);
}
.tape-two {
  animation-name: tape-two-mask;
  animation-timing-function: linear;
  animation-timeline: scroll();
  mask-image: radial-gradient(circle, black 25%, rgba(0, 0, 0, 0.1) 25%);
}

@keyframes tape-one-mask {
  0% {
    mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.1) 65%);
  }
  2.5% {
    mask-image: radial-gradient(circle, black 64%, rgba(0, 0, 0, 0.1) 64%);
  }

  5% {
    mask-image: radial-gradient(circle, black 63%, rgba(0, 0, 0, 0.1) 63%);
  }

  7.5% {
    mask-image: radial-gradient(circle, black 62%, rgba(0, 0, 0, 0.1) 62%);
  }

  10% {
    mask-image: radial-gradient(circle, black 61%, rgba(0, 0, 0, 0.1) 61%);
  }

  12.5% {
    mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%);
  }

  15% {
    mask-image: radial-gradient(circle, black 59%, rgba(0, 0, 0, 0.1) 59%);
  }

  17.5% {
    mask-image: radial-gradient(circle, black 58%, rgba(0, 0, 0, 0.1) 58%);
  }

  20% {
    mask-image: radial-gradient(circle, black 57%, rgba(0, 0, 0, 0.1) 57%);
  }

  22.5% {
    mask-image: radial-gradient(circle, black 56%, rgba(0, 0, 0, 0.1) 56%);
  }

  25% {
    mask-image: radial-gradient(circle, black 55%, rgba(0, 0, 0, 0.1) 55%);
  }

  27.5% {
    mask-image: radial-gradient(circle, black 54%, rgba(0, 0, 0, 0.1) 54%);
  }

  30% {
    mask-image: radial-gradient(circle, black 53%, rgba(0, 0, 0, 0.1) 53%);
  }

  32.5% {
    mask-image: radial-gradient(circle, black 52%, rgba(0, 0, 0, 0.1) 52%);
  }

  35% {
    mask-image: radial-gradient(circle, black 51%, rgba(0, 0, 0, 0.1) 51%);
  }

  37.5% {
    mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.1) 50%);
  }

  40% {
    mask-image: radial-gradient(circle, black 49%, rgba(0, 0, 0, 0.1) 49%);
  }

  42.5% {
    mask-image: radial-gradient(circle, black 48%, rgba(0, 0, 0, 0.1) 48%);
  }

  45% {
    mask-image: radial-gradient(circle, black 47%, rgba(0, 0, 0, 0.1) 47%);
  }

  50% {
    mask-image: radial-gradient(circle, black 45%, rgba(0, 0, 0, 0.1) 45%);
  }

  52.5% {
    mask-image: radial-gradient(circle, black 44%, rgba(0, 0, 0, 0.1) 44%);
  }

  55% {
    mask-image: radial-gradient(circle, black 43%, rgba(0, 0, 0, 0.1) 43%);
  }

  57.5% {
    mask-image: radial-gradient(circle, black 42%, rgba(0, 0, 0, 0.1) 42%);
  }

  60% {
    mask-image: radial-gradient(circle, black 41%, rgba(0, 0, 0, 0.1) 41%);
  }

  62.5% {
    mask-image: radial-gradient(circle, black 40%, rgba(0, 0, 0, 0.1) 40%);
  }

  65% {
    mask-image: radial-gradient(circle, black 39%, rgba(0, 0, 0, 0.1) 39%);
  }

  67.5% {
    mask-image: radial-gradient(circle, black 38%, rgba(0, 0, 0, 0.1) 38%);
  }

  70% {
    mask-image: radial-gradient(circle, black 37%, rgba(0, 0, 0, 0.1) 37%);
  }

  72.5% {
    mask-image: radial-gradient(circle, black 36%, rgba(0, 0, 0, 0.1) 36%);
  }

  75% {
    mask-image: radial-gradient(circle, black 35%, rgba(0, 0, 0, 0.1) 35%);
  }

  77.5% {
    mask-image: radial-gradient(circle, black 34%, rgba(0, 0, 0, 0.1) 34%);
  }

  80% {
    mask-image: radial-gradient(circle, black 33%, rgba(0, 0, 0, 0.1) 33%);
  }

  82.5% {
    mask-image: radial-gradient(circle, black 32%, rgba(0, 0, 0, 0.1) 32%);
  }

  85% {
    mask-image: radial-gradient(circle, black 31%, rgba(0, 0, 0, 0.1) 31%);
  }

  87.5% {
    mask-image: radial-gradient(circle, black 30%, rgba(0, 0, 0, 0.1) 30%);
  }

  90% {
    mask-image: radial-gradient(circle, black 29%, rgba(0, 0, 0, 0.1) 29%);
  }

  92.5% {
    mask-image: radial-gradient(circle, black 28%, rgba(0, 0, 0, 0.1) 28%);
  }

  95% {
    mask-image: radial-gradient(circle, black 27%, rgba(0, 0, 0, 0.1) 27%);
  }

  97.5% {
    mask-image: radial-gradient(circle, black 26%, rgba(0, 0, 0, 0.1) 26%);
  }

  100% {
    mask-image: radial-gradient(circle, black 25%, rgba(0, 0, 0, 0.1) 25%);
  }
}

@keyframes tape-two-mask {
  0% {
    mask-image: radial-gradient(circle, black 25%, rgba(0, 0, 0, 0.1) 25%);
  }
  2.5% {
    mask-image: radial-gradient(circle, black 26%, rgba(0, 0, 0, 0.1) 26%);
  }
  5% {
    mask-image: radial-gradient(circle, black 27%, rgba(0, 0, 0, 0.1) 27%);
  }
  7.5% {
    mask-image: radial-gradient(circle, black 28%, rgba(0, 0, 0, 0.1) 28%);
  }

  10% {
    mask-image: radial-gradient(circle, black 29%, rgba(0, 0, 0, 0.1) 29%);
  }
  12.5% {
    mask-image: radial-gradient(circle, black 30%, rgba(0, 0, 0, 0.1) 30%);
  }
  15% {
    mask-image: radial-gradient(circle, black 31%, rgba(0, 0, 0, 0.1) 31%);
  }
  17.5% {
    mask-image: radial-gradient(circle, black 32%, rgba(0, 0, 0, 0.1) 32%);
  }

  20% {
    mask-image: radial-gradient(circle, black 33%, rgba(0, 0, 0, 0.1) 33%);
  }
  22.5% {
    mask-image: radial-gradient(circle, black 34%, rgba(0, 0, 0, 0.1) 34%);
  }
  25% {
    mask-image: radial-gradient(circle, black 35%, rgba(0, 0, 0, 0.1) 35%);
  }
  27.5% {
    mask-image: radial-gradient(circle, black 36%, rgba(0, 0, 0, 0.1) 36%);
  }

  30% {
    mask-image: radial-gradient(circle, black 37%, rgba(0, 0, 0, 0.1) 37%);
  }
  32.5% {
    mask-image: radial-gradient(circle, black 38%, rgba(0, 0, 0, 0.1) 38%);
  }
  35% {
    mask-image: radial-gradient(circle, black 39%, rgba(0, 0, 0, 0.1) 39%);
  }
  37.5% {
    mask-image: radial-gradient(circle, black 40%, rgba(0, 0, 0, 0.1) 40%);
  }

  40% {
    mask-image: radial-gradient(circle, black 41%, rgba(0, 0, 0, 0.1) 41%);
  }
  42.5% {
    mask-image: radial-gradient(circle, black 42%, rgba(0, 0, 0, 0.1) 42%);
  }
  45% {
    mask-image: radial-gradient(circle, black 43%, rgba(0, 0, 0, 0.1) 43%);
  }
  47.5% {
    mask-image: radial-gradient(circle, black 44%, rgba(0, 0, 0, 0.1) 44%);
  }

  50% {
    mask-image: radial-gradient(circle, black 45%, rgba(0, 0, 0, 0.1) 45%);
  }
  52.5% {
    mask-image: radial-gradient(circle, black 46%, rgba(0, 0, 0, 0.1) 46%);
  }
  55% {
    mask-image: radial-gradient(circle, black 47%, rgba(0, 0, 0, 0.1) 47%);
  }
  57.5% {
    mask-image: radial-gradient(circle, black 48%, rgba(0, 0, 0, 0.1) 48%);
  }

  60% {
    mask-image: radial-gradient(circle, black 49%, rgba(0, 0, 0, 0.1) 49%);
  }
  62.5% {
    mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.1) 50%);
  }
  65% {
    mask-image: radial-gradient(circle, black 51%, rgba(0, 0, 0, 0.1) 51%);
  }
  67.5% {
    mask-image: radial-gradient(circle, black 52%, rgba(0, 0, 0, 0.1) 52%);
  }

  70% {
    mask-image: radial-gradient(circle, black 53%, rgba(0, 0, 0, 0.1) 53%);
  }
  72.5% {
    mask-image: radial-gradient(circle, black 54%, rgba(0, 0, 0, 0.1) 54%);
  }
  75% {
    mask-image: radial-gradient(circle, black 55%, rgba(0, 0, 0, 0.1) 55%);
  }
  77.5% {
    mask-image: radial-gradient(circle, black 56%, rgba(0, 0, 0, 0.1) 56%);
  }

  80% {
    mask-image: radial-gradient(circle, black 57%, rgba(0, 0, 0, 0.1) 57%);
  }
  82.5% {
    mask-image: radial-gradient(circle, black 58%, rgba(0, 0, 0, 0.1) 58%);
  }
  85% {
    mask-image: radial-gradient(circle, black 59%, rgba(0, 0, 0, 0.1) 59%);
  }
  87.5% {
    mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0.1) 60%);
  }

  90% {
    mask-image: radial-gradient(circle, black 61%, rgba(0, 0, 0, 0.1) 61%);
  }
  92.5% {
    mask-image: radial-gradient(circle, black 62%, rgba(0, 0, 0, 0.1) 62%);
  }
  95% {
    mask-image: radial-gradient(circle, black 63%, rgba(0, 0, 0, 0.1) 63%);
  }
  97.5% {
    mask-image: radial-gradient(circle, black 64%, rgba(0, 0, 0, 0.1) 64%);
  }

  100% {
    mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.1) 65%);
  }
}

@keyframes spin-tape {
  from {
    rotate: -40deg;
  }

  to {
    rotate: -400deg;
  }
}
